@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handjet&family=Kanit:wght@200&family=Oswald&family=Rajdhani&family=Raleway&family=Saira+Condensed:wght@500&display=swap');

body{
    background-color: #6592fd;
    color: #000000;
    margin: 0;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

#nav{
    background-color: #343090;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-top: 10px;
    width: 100%;
}

nav ol{
    align-items: center;
    list-style: none;
    display: flex;
    margin-bottom: 0px;
    margin-top: 25px;
}

#navlist{
    text-decoration: none;
    justify-content: space-between;
    padding-right: 19px;
    margin-right: 10px;
    align-items: center;
    font-size: 17px;
    color: white;
    width: max-content;
    position: relative;
    cursor: pointer;
}

#navlist::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 73%;
    left: 0;
    background-color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

#navlist:hover::after{
    transform: scaleX(1);

}

#logo{
    font-size: 21px;
    padding-left: 0px;
    align-items: center;
    /*font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    */
}

#logo p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#logo img{
    width: 11rem;
    height: 50px;
    margin-top: 10px;
}


#hide{
    margin-top: 60px;
    margin-right: 10px;
    z-index: 1;
    display: none;
}

#hide ol{
    background-color: rgb(255, 255, 255);
    width: 140px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

hr{
    width: 130px;
}

#hide ol li{
    list-style: none;
    padding-right: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#hide ol li a{
    text-decoration: none;
    color: black;
}

#hide a:hover{
    text-decoration: underline;
}

#hide span{
    padding-right: 10px;
    padding-top: 1px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#login{
    background-color: white;
    
}


footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgb(217, 217, 217);
    height: 40px;
}

footer ul{
    list-style: none;
    display: flex;
    align-items: center;
}

footer ul i{
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    color: black;
}











#menu{
    display: none;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 18px;
}

#bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 3px;
}

#side-drawer{
    display: none;
}

@media (max-width:1300px){

    #list ol{
        display: none;
    }

    #menu{
        display: block;
        position: absolute;
    }

    #menu.active .bar:nth-child(2){
        opacity: 0;
    }

    #menu.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    main ol{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    #side-drawer{
        display: block;
    }
    
}

@media (max-width:858px){
    #list ol{
        display: none;
    }

    #menu{
        display: block;
        position: absolute;
    }

    main ol {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 160px;
    }

    #side-drawer{
        display: block;
    }
}

@media (max-width:710px){
    #list ol{
        display: none;
    }

    #menu{
        display: block;
        position: absolute;
    }

    main ol{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0px;
    }

    #side-drawer{
        display: block;
    }
}
